page-manage {
    .backg{
        background-image: url('../../assets/imgs/4.jpg');
        background-color: black;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }
}
