page-weekly {
.red{
    margin-left: 80%;
}
.back{
    background-image: url('../../assets/imgs/4.jpg');
    background-color: black;
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
ion-icon{
    font-size: 240%;
    color: white;
}
.text{
    color: white;
}
}
